body {
    background-image: url(../images/backround.jpg); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.main {
    padding: 0 30px;
}

h1,
h2 {
    color:rgb(61, 10, 128)
}

.name {
    text-align: center;
}

.contacts {
    display: flex;
    justify-content: center;
}

.positive {
    text-align: center;
}

.positive-list {
    margin-left: 15%;

}

.skills {
    text-align: center;
}

.html-css {
    margin-left: 20%;
}

.sample code {

}

.code {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    background-color: rgb(245, 199, 222); 
    justify-content: space-around;
    align-items: center; 
    padding:10px; 

}
.logo {
   width:100px 
}